body {
	background-image: url(assets/images/Sfondo.jpeg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#container {
	text-align: center;
}

#immagine {
	background-image: url(assets/images/Copertina.jpg);
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;

	text-align: center;
	height: 35%;
	width: auto;
	margin: 0;
	color: aliceblue;
	text-align: center;
}

.back {
	height: 20px;
	width: 20px;
	left: auto;
	margin-left: 30px;
	float: left;
}

.testoBack {
	float: left;
	font-size: 14px;
	font-weight: 500;
	align-self: center;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	color: #2f3542;
	margin: 0 auto;
	padding-left: 10px;
}

.formPrincipale {
	margin: 110px auto;
	height: 700px;
	width: 600px;
	padding: 0px;
	vertical-align: middle;
	border-radius: 4%;
	background-color: #f1f2f6;
	/*ombra*/
	-moz-box-shadow: 2px 4px 2px #2c3e50;
	-webkit-box-shadow: 2px 4px 2px #2c3e50;
	box-shadow: 2px 4px 2px #2c3e50;
}

#image {
	max-width: 25%;
	height: auto;
}

#login {
	text-align: center;
	width: fit-content;
	margin: auto;
}

#register {
	text-align: left;
	width: fit-content;
	margin: auto;
}

label {
	font-size: 16px;
	margin: 5px;
}

input {
	font-size: 20px;
	border-radius: 15px;
}

#log {
	font-size: 14px;
	border: 0;
	background: none;
	display: block;
	margin: 15px auto;
	text-align: center;
	font-weight: 400;
	border: 2px solid #2ecc71;
	padding: 10px 40px;
	outline: none;
	color: #485460;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

#log:hover {
	background: #2ecc71;
	color: white;
}

#reg {
	font-size: 14px;
	border: 0;
	background: none;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-weight: 400;
	border: 2px solid #2980b9;
	padding: 10px 40px;
	outline: none;
	color: #485460;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

#reg:hover {
	background: #2980b9;
	color: white;
}

/*
button{
    color:#d2dae2; 
    font-size: 22px; 
    border-radius: 15px; 
    border-width: 2px; 
    background-color:#24d464
}
#button,#button2{
    text-align: center; 
}
*/
p {
	font-size: 13px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ins {
	border: 0;

	background-color: #f1f2f6;
	display: block;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #2c3e50;
	font-size: 16px;
	padding: 5px 5px;
	width: 300px;
	outline: none;
	color: #2c3e50;
	border-radius: 24px;
	transition: 0.3s;
}

.ins:focus {
	border: 2px solid #3498db;
	width: 330px;
	text-align: left;
	padding-left: 20px;
}

::placeholder {
	color: #2c3e50;
	opacity: 80%;
}

#title {
	text-align: center;
}

h1 {
	display: table; /* keep the background color wrapped tight */
	margin: 0px auto 0px auto; /* keep the table centered */
	background-color: #f7f1e3;
	color: #485460;
	font-size: 28px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1:hover {
	background-color: transparent;
	color: black;
}

.vuoto {
	padding-top: 17%;
}
